@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url("/src/assets/font/Poppins-Regular.ttf");
  font-weight: 'normal';
}

@font-face {
  font-family: 'Poppins';
  src: url("/src/assets/font/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: url("/src/assets/font/Poppins-Bold.ttf");
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}